.card{
    background-color: black;
    outline: white solid 0.5vw;
    outline-offset: -1px;
    border-radius: 0.25vw;
    padding: 2vw;
    text-align: center;
    .title{
        padding-bottom: 2rem;
        font-size: 2vw;
        font-weight: bolder;
    }
}