.card{
    background-color: white;
    padding: 1vw;
    padding-top: 0.5rem;
    border-radius: 0.5vw;
    text-align: center;
    .title{
        padding-bottom: 2rem;
        font-size: 2vw;
        font-weight: bolder;
    }
}