

.table {
  display: grid;
  height: 100vh;
  position: relative;
  grid-template-columns: 11.2em calc(100vw - 22.4em) 11.2em;
  grid-template-rows: 12em calc(100vh - 24em) 12em;
  .leave{
    width: 30%;
    max-width: 50px;
    align-self: center;
    justify-self: center;
    grid-column-start: 3;
    height: fit-content;
    cursor: pointer;

  }
  .group{
    grid-column-start: 1;
    grid-row-start: 3;
    width: 80%;
    height: fit-content;
    align-self: center;
    justify-self: center;
  }
  .waiting {
    font-size: min(10vw, 10rem);
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .unplayable {
    position: relative;
  }

  .my-hand {
    position: absolute;
    outline: 10px solid white;
  }

  .left-player {
    grid-column: 1;
    grid-row-start: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & > * {
      transform-origin: top right;
      transform: rotate(-90deg)translate(0%, -85%);
    }
  }
  .top-player {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    transform: rotate(180deg);
  }
  .right-player {
    grid-column-start: 3;
    grid-row-start: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & > * {
      transform-origin: top left;
      transform: rotate(90deg) translate(0%, -85%);
    }
  }
  .playground {
    &>*>*{
      background-color: blue;
      font-size: 0.7rem!important;
    }
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    transform: scale(2);
  }
}

.table.no-players {
  &::after {
    display: none;
  }
}

