.hand{
    position: absolute;
    transition: all 1s;
    width: 60vmin;
    height: 11.2em;
    transform-origin: center;
    .group{
        padding: 0;
        position: absolute;
        width: 20vw;
        top:-2em;
        left: -6px;
        z-index: 9999;
    }
    .name{
        position: absolute;
        padding: 0;
        top: -2.5em;
        right: 0;
    }
}

.hand.turn{
    &::after{
        position: absolute;
        top: -20%;
        content: "";
        width: 2vw;
        aspect-ratio: 1/1;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background: linear-gradient(lightgreen,10%,green);
        border: 1px solid lightgray;
        box-shadow: 0 0 9px 0px white;

    }
}
